.repository.active {
    background: linear-gradient(90deg, rgba(25,79,138,1) 7%, rgba(16,50,87,1) 100%);
    color: #DFE7F0;
}

.repository:hover {
    background-color: #444;
    color:#fff;
}

.commit {
    opacity: 0.8;
    border-bottom: 3px solid rgba(0,0,0,0.125);
}

.paginator {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.paginator > a {
    margin: 5px;
}

.flex-end {
	justify-content: flex-end;
}

.email-link {
    text-decoration: none;
    color: #00bc8c;
    background-color: transparent;
}

.email-link:hover {
    color: #fff;
    text-decoration: none;
}

.no-link-author {
    text-decoration: none;
    color: #00bc8c;
    background-color: transparent;
}

.no-link-author:hover {
    color: #00bc8c;
    text-decoration: none;
    cursor: default;
}

.row .col-md-12 {
    margin-bottom: 25px;
    text-align: center;
}

.row .col-md-12 form {
    display: inline-block;
}

.repo-input {
    min-width: 245px;
}

.bd-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
}

.bd-navbar .navbar-nav-svg {
    display: inline-block;
    width: 3rem;
    height: 2rem;
}

.brand-icon {
    display: flex;
    align-items: center;
}

.auth-button {
    width: 100%;
}

.auth-login {
    width: 388px;
    margin: 75px auto;
}
